
.dropdownContent{
    background: #051923;
    border: 1px solid #1d5f80;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: absolute; 
    left: -6rem;
    top: 0.5rem;
    width: 7rem;
    height: 5rem;
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    text-decoration: none;
}

.dropdownContent[data-side='bottom']{
    animation-name: slideDownAndFade;
}

.dropdownItem{
    display: flex;
    align-items: center;
    color: #FCFFE7;
    transition: 0.25s ease-in-out;
    gap: .6rem;
    width: 7rem;
    
    cursor: pointer;
    text-decoration: none;
}
.dropdownItem:hover{
    background: #0582ca;

}
.svg{
    font-size: 24px;
    margin-left: 5px;
    
}


@keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }